.subject-video {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 120px;
  overflow: hidden;
  .video-thumb {
    position: relative;
    .video-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
  .video-content {
    .video-title {
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.6rem;
      color: #4f4b45;
      margin: 0.5rem 0px;
    }
    .video-descrption {
      font-weight: 400;
      font-size: 0.9rem;
      color: #9e988f;
    }
  }
}
