@import '../../../sass/variables.scss';
@import '../../../sass/mixin.scss';
.banner {
  box-shadow: 0px 14px 0px -7px #00c8d5;
  border-radius: 32px;
  font-size: 9px;
  padding: 4%;
  width: 100%;
  &__header--l1 {
    font-size: 6.4em;
    color: $purpleColor;
    line-height: 1.1em;
  }
  &__header--l2 {
    font-size: 6.4em;
    color: $orangeColor;
    margin-bottom: 5%;
    line-height: 1.1em;
  }
  &__para {
    font-size: 2em;
    color: $greyColor2;
    margin-bottom: 4%;
  }
  .action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: max(10px, 2%);
    overflow: hidden;
    .btn-solid {
      width: max(21%, 7em);
      padding: 0.2em;
      border-radius: 32px;
      font-size: 2.4em;
      font-weight: 600;
      background-color: $blueColor;
      border: 2px solid $blueColor;
      color: #fff;
    }
    .btn-outline {
      width: max(21%, 7em);
      padding: 0.2em 1em;
      border-radius: 32px;
      font-size: 2.4em;
      color: $blueColor;
      font-weight: 600;
      box-shadow: none;
      border: 2px solid $blueColor;
    }
  }
  @media only screen and (min-width: 1400px) {
    font-size: 14px;
  }
  @media only screen and (max-width: 980px) {
    font-size: 7px;
  }
  @media only screen and (max-width: 433px) {
    font-size: 5px;
  }
}
