@import '../../../sass/variables.scss';

.top-part {
    .select {
        border: none;
        outline: none;
        color: #c1c1c1;
    }
    .icon {
        color: #c1c1c1;
        right: 3px;
        top: 17px;
    }
}