.logo-container {
    // @media (min-width:772px) {
    //     width: 25%;
    // }
    // width: 50%;
}
.left-part {
    @media(min-width:772px) {
        &:lang(en) {
            border-left:1px solid #515151;
            padding-left: 25px;
        }
        &:lang(ar) {
            border-right:1px solid #515151;
            padding-right: 25px;
        }
    }
}
.polic {
    color: #4f4f4f;
    &:hover {
        text-decoration: underline;
    }
}