@import '../../sass/variables.scss';
@import '../../sass/mixin.scss';
.navbar {
    .nav-login {
        @include blue-btn (auto, $blueColor);
        box-shadow: none;
        display: block;
    }
    .icon {
        cursor: pointer;
    }
}
