@import '../../sass/variables.scss';
@import '../../sass/mixin.scss';


.sidebar {
  background: $sidebarBg;
  bottom: 0;
  min-height: 100vh;
  width: 300px;
  transition: all 0.3s ease-in-out;
  top: 0;
  z-index: 99;
  ul {
    padding: 0 !important;
  }
  ul li {
    margin: 30px 0;
  }
  .sett-btn , ul li {
    font-size: 16px !important;
  }
  .pro {
    background-color: $purpleColor;
    position: relative;
    color: #fff;
    border-radius: 24px;
    width: 192px;
    height: 138px;
    padding: 15px;
    padding-bottom: 30px;
    width: 80%;
    margin: auto !important;
    h3 {
      font-weight: 700;
      font-size: 16px;
    }
    p {
      font-weight: 400;
      font-size: 12px;
    }
    .try-btn {
      width: 70%;
      text-align: center;
      padding: 7px 0;
      border-radius: 20px;
      font-size: 14px;
      background: linear-gradient(102.25deg, #04afba 11.68%, #00c8d5 89.82%);
      cursor: pointer;
    }
    .rocket {
      position: absolute;
      top: 20px;
      &:lang(en) {
        right: -18px;
      }
      &:lang(ar) {
        top: 50px;
        left: -18px;
      }
    }
  }
  .sett-btn {
    margin-top: 40px;
    @include text-style;
    margin-left: 20px;
    &:lang(ar) {
      margin-right: 20px;
    }
  }
  .active-item {
    display: block;
    @include blue-btn(100%, $blueColor); 
    font-weight: $fontWeight;
  }
  .unactive-item {
    color: $blackColor;
    font-weight: $fontWeight;
    padding-left: 10px;
    &:lang(ar) {
      padding-right: 10px;
    }
  } 
  .nav-btn  {
    text-decoration: none;
  }

}
