.subjects-header {
  border-radius: 32px;
  box-shadow: 0px 14px 0px -7px #00c8d5;
  max-width: 1024px;
  height: 267.9px;
  margin-left: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  .title {
    font-weight: 600;
    font-size: 64px;
    text-align: center;
    span {
      display: block;
    }
    span:first-child {
      color: #b864ed;
      margin-bottom: 20px;
    }
    span:last-child {
      color: #ffb954;
    }
  }
}
