body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body:lang(ar) {
  font-family: 'Noto Naskh Arabic', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 3.5vw !important;
}
@media (max-width: 992px) {
  .container {
    max-width: 100% !important;
  }
}
