.create-account {
    h3 {
        font-weight: 500;
        font-size: 40px;
        @media (max-width:560px) {
            text-align: center;
        }
    }
    .social-sign {
        & > p {
            border: 1px solid #35CCED;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            width: 250px;
            @media (min-width:560px) {
                margin-left: 10px;
                margin-right: 10px;
            }
            @media (max-width:560px) {
            width: 400px;
            }
        } 
        @media (max-width:560px) {
            width: 60%;
            margin: auto;
            flex-wrap: wrap;
        }
    }
}